#about {
  margin-top: 55px;
}

#about h2::after {
  width: 7rem;
  transform: translateX(-10rem);
}

#about p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#about strong {
  color: var(--main-color);
}