@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--third-color);
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: var(--dark-color);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

h2::after {
  display: block;
  content: "";
  border-bottom: .3rem solid var(--main-color);
  width: 4rem;
  transform: translateX(-6rem);
  margin-top: 4rem;
}
