.navbar {
  background-color: var(--fifth-color);
  box-shadow: 1px 0 4px 5px var(--shadow-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 2;
}

.nav-links a {
  color: var(--fourth-color);
  font-weight: 540;
}

.logo {
  font-size: 1.4rem;
  font-weight: 555;
  color: var(--main-color);
}

.nav-links, .media-nav {
  display: none;
}

.burger {
  border: 1px solid var(--second-color);
  height: 33px;
  cursor: pointer;
  border-radius: 1px;
}

.burger div {
  height: 2px;
  width: 30px;
  background-color: var(--second-color);
  margin: 6px;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .nav-links {
    display: block;
  }

  .nav-links li {
    list-style-type: none;
    display: inline-block;
  }
  
  .nav-links li:not(:last-child) {
    margin-right: 2rem;
  }

  .nav-links a {
    font-size: 1rem;
  }
}