.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  padding: 1.5rem;
  font-size: 1.3rem;
  margin-top: 3rem;
  border: 1px solid var(--main-color);
}

.project_logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.tech ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.tech li {
  padding: 0.5rem;
  border: 1px solid var(--main-color);
  margin-top: 0.5rem;
}

.tech h4 {
  margin-top: 20px;
}

.rest_logo {
  background-color: tomato;
  padding: 0.2rem;
  margin-right: 0.5rem;
  border-radius: 2px;
}

.rest_logo img {
  margin-left: 0.4rem;
}

.project_logo i {
  font-size: 2rem;
  margin-right: 0.7rem;
}

.project_logo img {
  margin-right: 0.7rem;
}

.live_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  height: 8rem;
}

.live_links li:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-color);
}

.live_links a {
  text-decoration: none;
  border: 1px solid var(--main-color);
  padding: 0.5rem;
  color: black;
}

@media(min-width: 992px) {
  .project {
    height: 22rem;
    flex-direction: row;
    align-items: center;
  }
}