:root {
  --main-color: #CD533B;
  --second-color: black;
  --third-color:  #F2F2F2;
  --fourth-color: gray;
  --fifth-color: white;
  --seventh-color: #D2634D;
  --shadow-color: rgba(189, 187, 187, 0.4);
}
